<section class="app-footer">
    <h2 class="made-with">Made with</h2>
    <img class="angular" src="https://www.svgrepo.com/show/452156/angular.svg" alt="angular">
    <h2><span class="mobile-addition">Made </span>by Nadav Eliash</h2>
    <div class="social">
        <a class="linkedin" href="https://www.linkedin.com/in/nadav-eliash-b7039273/">
            <img src="https://www.svgrepo.com/show/494278/linkedin-round.svg" alt="linkedin">
        </a>
        <a class="github" href="https://github.com/NadavEliash">
            <img src="https://www.svgrepo.com/show/512317/github-142.svg" alt="github">
        </a>
    </div>
</section>