<section class="app-header">
    <nav class="navbar">
        <a class="logo" routerLink="/">
            <img src="https://www.svgrepo.com/show/486066/money-yewushuju-line.svg" alt="Home">
        </a>
        <!-- <div *ngIf="user?.name" class="balance">Welcome {{user?.name}}! You have ${{user?.balance}} billion to spend</div> -->
        <a class="budget" routerLink="/ministry">Budget</a>
        <!-- <a routerLink="/statistics">Charts</a> -->
        <button (click)="onLoginLogout()">{{user?.name ? 'Logout' : 'Join'}}</button>
        <div class="mobile-background"></div>
    </nav>
</section>