<main class="charts">
    <a *ngIf="!user?.name" routerLink="/login">Join first and start budget!</a>
    <h2 *ngIf="user?.name">Your Budget:</h2>
    <canvas baseChart [type]="'pie'" [datasets]="pieChartDatasets" [labels]="pieChartLabels" [options]="pieChartOptions"
        [plugins]="pieChartPlugins" [legend]="pieChartLegend">
    </canvas>
    <button class="clear-all" (click)="clearAll()" *ngIf="user?.name">Start Over</button>

    <!-- <canvas baseChart
        [datasets]="polarAreaChartDatasets"
        [labels]="polarAreaChartLabels"
        [legend]="polarAreaLegend"
        [options]="polarAreaOptions"
        [type]="'polarArea'">
    </canvas> -->
</main>