.charts {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    width: max-content;
    margin-bottom: 1rem;
    
    @media(max-width: 800px) {
        margin-inline: auto;
    }

    button, a {
        margin-inline: auto;
        text-align: center;
        font-size: 1rem;
        font-family: inherit;
        font-weight: 600;
        color: inherit;
        margin-top: 2rem;
        background-color: rgba($color: #00ff44, $alpha: 0.2);
        border-radius: 2rem;
        border: 1px solid rgba(0, 0, 0, .6);
        height: 3rem;
        width: 200px;
        cursor: pointer;

        &:hover {
            transition: .2s;
            box-shadow: 0px 0px 5px 0px rgba(8, 8, 8, 0.2);
        }
    }

    a {
        margin-top: 50%;
        text-decoration: none;
        display: flex;
        align-items: center;
        padding-inline: 3rem;
        padding-block: 2rem;
        font-size: 1.3rem;
        width: max-content;
    }

    canvas {
        width: 250px;
        
        @media(min-width: 600px) {
            width: 350px;
        }
        
        @media(min-width: 1200px) {
            width: 400px;
        }
        
        @media(min-width: 1400px) {
            width: 500px;
        }
    }
}