.home-page {
    .top {
        border: 1px solid rgba(255, 255, 255, 0);
    }

    h1 {
        width: fit-content;
        font-size: 5rem;
        line-height: 8rem;
        margin-left: 2rem;
        margin-top: 8rem;
    }

    button {
        border: 0;
        font-size: 2.5rem;
        font-weight: 600;
        background-color: rgba(38, 255, 0, 0.4);
        color: rgb(56, 56, 56);
        width: 30%;
        min-width: 300px;
        text-align: center;
        border-radius: 10px 10rem 10rem 10px;
        padding: 2rem;
        margin-top: 4rem;
        margin-left: 2rem;
        cursor: pointer;

        &:hover {
            box-shadow: 0px 0px 5px 0px rgba(17, 255, 0, 0.6);
            transition: .4s;
        }
    }
}