/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    padding: 0;
    min-height: 100vh;
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
        Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(227, 249, 255);
    caret-color: transparent;
    color: rgb(55, 55, 55);
}

.main-content {
    min-height: 90vh;
    margin-inline: 120px;
    padding-top: 2rem;

    @media(max-width: 1400px) {
        margin-inline: 60px;
    }
    @media(max-width: 1200px) {
        margin-inline: 20px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

input {
    caret-color: rgb(69, 69, 69);
}

.box-display {
    position: absolute;
    background-color: rgb(227, 249, 255);
    border-radius: 1rem;
    max-width: 500px;
    min-width: 300px;
    text-align: center;
    padding: 1rem;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
    z-index: 20;

    .ministry-img,
    .user-img {
        width: 150px;
    }

    h2 {
        font-size: 2rem;
        font-weight: 600;
        margin-inline: .5rem;
    }

    h3 {
        margin-bottom: 2rem;
    }

    p {
        width: 80%;
        margin-inline: auto;
    }

    a,
    button {
        border: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border-radius: 3rem;
        width: 90%;
        min-width: 120px;
        height: 3rem;
        background-color: rgba($color: #00ff44, $alpha: 0.2);
        margin-inline: auto;
        font-size: 1.3rem;
        color: inherit;
        margin-block: 1rem;
        cursor: pointer;

        &:hover {
            box-shadow: 0px 0px 5px 0px rgba(8, 8, 8, 0.4);
            transition: .6s;
            text-decoration: none;
        }

    }

    .login-form {
        height: 160px;

        input {
            width: 90%;
            border-radius: 2rem;
        }
    }

    .edit-form {
        display: grid;
        grid-template-columns: 100px 1fr;
        grid-template-rows: 1fr 1fr 3fr 1fr;
        text-align: left;
        margin-top: 1rem;

        label {
            height: fit-content;
            translate: 0 5px;
        }
    }

    input {
        height: 3rem;
        border-radius: .5rem;
        font-size: 1.2rem;
        text-indent: 1rem;
        background-color: rgba(255, 255, 255, 0.8);
        border: 0;
        color: inherit;
        caret-color: gray;
    }

    textarea {
        height: 100%;
        border-radius: 1rem;
        font-family: inherit;
        font-size: 1rem;
        padding-left: 1rem;
        background-color: rgba(255, 255, 255, 0.4);
        border: 0;
        color: inherit;
        caret-color: gray;
        resize: none;
    }

    .save-button {
        grid-column: 1/-1;
        width: 90%;
        translate: 0 50%;
    }

    .close-button {
        display: inline;
        padding-inline: .6rem;
        padding-block: .2rem;
        margin-left: 90%;
        font-size: .9rem;
        font-weight: 600;
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.background-clicker {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 10;
}